.symbol {
  font-size: 24px;
  color: rgb(95, 95, 95);
}

.symbol--passed {
  color: hsl(120, 100%, 50%);
  background-color: hsl(120, 40%, 40%);
}

.symbol--unpassed {
  color: 	hsl(0, 100%, 50%);
  background-color: hsl(0, 40%, 40%);
}