.text-block {
  margin-bottom: 20px;
}

.symbol {
  font-size: 24px;
  color: rgb(95, 95, 95);
}

.symbol--passed {
  color: black;
  background-color: hsl(146, 100%, 66%);
}

.symbol--unpassed {
  color: 	black;
  background-color: hsl(0, 100%, 59%);
}